$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;



::-webkit-scrollbar {
    display: none;
}

$tab_width:780px;

@mixin tab{
    @media (max-width:#{$tab_width}) {
        @content
    }
}

$mobile_width:650px;

@mixin mobile{
    @media (max-width:#{$mobile_width}) {
        @content
    }
}